.header {
  grid-area: h;
  /*Псевдоним. Ты будешь называться как h. Для того, чтобы врапперу сказать как спозиционировать вложенные элементы*/
  background-color: rgb(0, 75, 100);
  
}

.header img {
  width: 60px;
}

.loginBlock {
  float: right; 
}

.loginBlock a {
  color: white;
  
}