.app-wrapper {
  margin: 0 auto;
  display: grid; /*Значит все, что сюда вложено будет вести себя как grid элемент*/
  width: 1200px;
  grid-template-areas:  /*указываем по какому шаблону выстроены*/
    "h h" /*двестроки*/
    "n c"; /*двеколонки*/
  grid-template-rows: 60px 1fr; /*2-е строки: 60px(по высоте) и 1 фракция*/
  grid-template-columns: 2fr 10fr; /*2-а столбца: 2 фракции и 10 фракций*/
  /*grid-gap: 10px; расстояние между элементами*/
}

.app-wrapper-content {
  
    grid-area: c;
    background-color: rgb(237, 100, 196);
   
}




